<div class="container-fluid mb-4 border">
    <!-- Usando la variable clase desde el home.component.ts -->
    <div class="mt-4 text-center">
        <h1 class="fw-lighter">Hola <span [ngClass]="{sobrepasado:nombrePersona.length>=8, bien:nombrePersona.length<=7}">{{ title }}</span>!</h1>
    </div>
    <div class="mt-4">
        <form>
            <button (click)="cambiarTitle()" [disabled]="modificado">Ingresar</button>
            <input type="text" placeholder="Escriba su nombre" [(ngModel)]="title" (keyup)="onKey($event)">
        </form>
    </div>
</div>

<div class="container-fluid">
    <h1 class="text-center fw-lighter">Productos</h1>

    <div *ngFor="let producto of productos">
        <div class="d-flex flex-column" style="align-items: center">
            <hr>
            <img src="{{ producto.photo_url }}" width="200px">
            <p>Nombre del producto: {{ producto.name }}</p>
            <p>Precio del producto: ${{ producto.price }}</p>
            <button class="btn btn-success" routerLink="/productos/{{ producto.id }}">Ver detalle</button>
            <hr>
        </div>
    </div>
    
</div>